<div class="corner add">
  <a><span class="glyphicon glyphicon-plus" ng-click="add = !add"></span></a>
  <a ui-sref="home"><span class="glyphicon glyphicon-home"></span></a>
</div>

<div ng-show="beats.length" class="column1">
  <h2>Newspaper Beats:</h2>
  <ul>
    <li ng-repeat="item in beats">
      <h4>{{ item.name }} <a ui-sref="beats.reporters({ beatId: item.id })"><span class="glyphicon glyphicon-pencil"></span></a></h4>
    </li>
  </ul>
</div>

<div class="column" ng-show="add">
  <form ng-submit="BeatsFactory.addBeat()" class="form-inline" role="form">
    <h3>Add a Beat</h3>
    <div class="form-group">
      <input type="text" ng-model="BeatsFactory.beatName" class="form-control" placeholder="Shane's dog. He's so exciting, isn't he?">
    </div>
    <button type="submit" ng-click="add = false" class="btn btn-primary">Submit</button>
  </form>
</div>

<div ui-view></div>
